extends base_estudiantes

block scripts
	script.
		function autoSubirArchivo() {
			if(btnSubirArchivo.value != ''){
				adjuntarArchivo.style.display = "none";
				archivosSubidos.style.display = "block";
				SelectedFile = btnSubirArchivo.files[0];
				archivosSubidos.innerHTML = '<b>Subiendo archivo adjunto:</b> ' 
				+ btnSubirArchivo.files[0].name + " [" + btnSubirArchivo.files[0].size + " bytes]" + ' <input type="submit" value="Quitar" onClick="quitarAdjunto();"/>';
				
				var xhrObj = new XMLHttpRequest();
				var formData = new FormData();
				formData.append('archivo_tarea',btnSubirArchivo.files[0],btnSubirArchivo.files[0].name);
				
				
				//xhrObj.upload.addEventListener("progress", progressFunction, false);
				xhrObj.upload.onprogress = function(e) {
				    var done = e.position || e.loaded, total = e.totalSize || e.total;
					archivosSubidos.innerHTML = '<b>Subiendo archivo adjunto:</b> ' 
						+ btnSubirArchivo.files[0].name + " [" + (Math.floor(btnSubirArchivo.files[0].size / (1024*1024))) + " MB] "  
						+ (Math.floor(done/total*1000)/10) + '%';
				
				};
				
				xhrObj.upload.onload=function(e){
					if(xhrObj.status==200) {
						alert("Respuesta: \n" + archivoSubido)
						archivosSubidos.innerHTML = '<b>Archivo adjunto:</b> ' + btnSubirArchivo.files[0].name + ' <input type="submit" value="Quitar" onClick="quitarAdjunto();"/>';
					}
				};

				xhrObj.onreadystatechange = function(){
					if(xhrObj.readyState==4)
						if(xhrObj.status==200) {
							//acciones cuado se aya cargado la pagina

							archivoSubido = xhrObj.responseText;
							alert("Respuesta: \n" + archivoSubido)
							archivosSubidos.innerHTML = '<b>Archivo adjunto:</b> ' + btnSubirArchivo.files[0].name + ' <input type="submit" value="Quitar" onClick="quitarAdjunto();"/>';
						}else{
							alert("Ocurrió un error al subir archivo");
						}
					};
				
				xhrObj.open("POST", "/estudiantes/subir_tarea/subir_archivo/", true);
				
				
				xhrObj.send(formData);

			}
		}
		function seleccionar_curso(curso,ciclo,unidad){
			var xmlhttp;			
			if (window.XMLHttpRequest)
			  {// code for IE7+, Firefox, Chrome, Opera, Safari
			  xmlhttp=new XMLHttpRequest();
			  }
			else
			  {// code for IE6, IE5
			  xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
			  }
			xmlhttp.onreadystatechange=function()
			  {
			  if (xmlhttp.readyState==4 && xmlhttp.status==200)
			    {			    
			    document.getElementById("select_tareas").innerHTML=xmlhttp.responseText;
			    }
			  }
			console.log(curso+"");
			var c= JSON.parse(curso);
			xmlhttp.open("GET","/estudiantes/subir_tarea/cargar_tareas?curso="+c.curso+"&seccion="+c.seccion+"&ciclo="+ciclo+"&unidad="+unidad,true);
			xmlhttp.send();
		}

		function seleccionar_tarea(){
			document.getElementById("estado_tarea").innerHTML="<b> hola que hace </b>";
		}

block content
	br
	br
	div.container
		h1 Tareas				
		p
			b Ciclo: 
		select(id='ciclo',name='ciclo')
			option(value='1') Ciclo 2015	
		p
			b Unidad: 
		select(id='unidad',name='unidad')
			option(value='1') 1ra Unidad			
		p
			b Curso: 
		select(id='curso' name='curso' onChange="seleccionar_curso(this.value,ciclo.value,unidad.value)")
			option(value='-1', disabled selected) Seleccione un curso
			each cur,id in cursos
				option(value='{"curso":#{cur.curso},"ciclo":#{cur.ciclo},"seccion":#{cur.seccion}}') #{cur.nombre}
		br
		br			
		b Actividades del curso
		br
		br
		div(Style="display:inline-block;")
			select(size="5",style="width:500px;height:100px",id="select_tareas", onChange="seleccionar_tarea();")							
		br
		br
		div#adjuntarArchivo
			b Adjuntar Archivo:
			div#UploadArea.upload
				input(type='file', value='a',id="btnSubirArchivo", onChange="autoSubirArchivo()")
		div#archivosSubidos
			input(type='text', id='info',name='info',style="display:none;")
			input(type='text', id='archivoAdjuntoT',name='archivoAdjuntoT',style="display:none;")
			br
			br
		b Estado de entrega				
		div(id="estado_tarea")
